@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme { 
                --color-bg-primary: var(--bg-primary);
                --color-bg-secondary: var(--bg-secondary);
                --color-primary: var(--primary-color);
                --color-secondary: var(--secondary-color);
                --color-menu-primary: var(--menu-primary); 
                --color-menu-secondary: var(--menu-secondary);
                --color-card-primary: var(--card-primary);
                --color-card-secondary: var(--card-secondary);
                --color-link-primary: var(--link-primary);
                --color-link-secondary: var(--link-secondary);
                --color-h1-primary: var(--h1-primary);
                --color-h1-secondary: var(--h1-secondary);
                --color-h2-primary: var(--h2-primary);
                --color-h2-secondary: var(--h2-secondary);
                --color-h3-primary: var(--h3-primary);
                --color-h3-secondary: var(--h3-secondary);
                --color-text-primary: var(--text-primary);
                --color-text-secondary: var(--text-secondary);
                --color-price-primary: var(--price-primary);
                --color-price-secondary: var(--price-secondary);
                --color-button-primary: var(--button-primary);
                --color-button-secondary: var(--button-secondary);
                --Color-input-primary: var(--input-primary);
                --color-input-secondary: var(--input-secondary);
                --color-hover-primary: var(--hover-primary);
                --color-hover-secondary: var(--hover-secondary);
                --color-border-primary: var(--border-primary);
                --color-border-secondary: var(--border-secondary);
                --color-footer: var(--footer-color);
                --color-footer-text: var(--footer-text-color);
                --font-sans: var(--font-family);
}