@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-text: var(--text-color);
    --color-bg: var(--bg-color);
    --color-border: var(--border-color);
    --color-link: var(--link-color);
    --color-hover: var(--hover-color);
    --color-footer: var(--footer-color);
    --color-footer-text: var(--footer-text-color);
    --font-sans: var(--font-sans);
}
